
.Rproj.user
FSB_BI_Survey_2019_2021.rds
FSB_Survey.csv
FSB_Survey_Dirty.csv
FSB_Survey1.csv
git rm --cached FSB_BI_Survey_2019_2021.rds
git rm --cached .Rproj.user
git rm --cached FSB_Survey_Dirty.csv
git rm --cached FSB_Survey1.csv
